body {
  padding: 20px;
  background-color: #E0FDDC;
}

.home {
  padding-top: 50px;
  width: 60%;
  margin: auto;

  h1 {
    padding-bottom: 10px;
  }

  .filter {
    display: flex;
    column-gap: 10px;
    align-items: baseline;
    padding-bottom: 10px;
  }

  .entry {
    border: 1px solid #1D710F;
  }

  .submit {
    width: 30%;
    margin: auto;
  }

  .test {
    white-space: pre-wrap;
  }
}